doctype html
html
  head
    title= title
    if fs.existsSync('style.css')
      link(rel="stylesheet" type="text/css" src="style.css")
  body
    .top
      img(src=`/img/${banner.logo}` alt=banner.alt)
    .middle
      block body
    .bottom
      //TODO: ADD CODE
